<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">		

<mapper namespace="mapper">
	
	<resultMap type="map" id="rsMap">
		<result column="seq" property="seq"/>
		<result column="mem_name" property="name"/>
		<result column="mem_id" property="id"/>
		<result column="board_subject" property="subject"/>
		<result column="board_content" property="content"/>
		<result column="reg_date" property="regDate"/>
		<result column="upt_date" property="uptDate"/>
		<result column="view_cnt" property="viewCnt"/>
		<result column="file_seq" property="fileSeq"/>
		<result column="real_name" property="realName"/>
		<result column="save_name" property="saveName"/>
		<result column="save_path" property="SAVE_PATH"/>
		<result column="list_seq" property="listseq"/>
	</resultMap>

<sql id="searchSql">
	<choose>
		<when test="searchType == 'name'">
			and mem_name like '%'||#{keyword}||'%'
		</when>
		<when test="searchType == 'subject'">
			and board_subject like '%'||#{keyword}||'%'
		</when>
		<when test="searchType == 'content'">
			and board_subject like '%'||#{keyword}||'%'
			or board_content like '%'||#{keyword}||'%'
		</when>
	</choose>
</sql>

<select id="list" resultMap="rsMap">
	
	select
		seq
		, mem_name
		, mem_id
		, board_subject
		, board_content
		, reg_date
		, upt_date
		,view_cnt
	from (
		select
			row_number() over(order by seq desc) rnum
			,seq
			, mem_name
			, mem_id
			, board_subject
			, board_content
			, reg_date
			, upt_date
			,view_cnt
			, useyn
		from board_study
		where 1=1
		<include refid="searchSql"></include>
		)where rnum between (#{pageNo}-1) * #{listSize} + 1 and #{pageNo} * #{listSize}
</select>

<select id="total" parameterType="map" resultType="int">
	select count(seq) 
	from board_study
	where 1=1
	<include refid="searchSql"></include>
</select>

	<!-- 게시판 seq 가져오기 -->
	<select id="listSeq" resultType="int">
	 select nvl(max(seq), 0)+1 
	 from board_study
	</select>
	
	<!-- 이미지 게시판 fileSeq 가져오기 -->
	<select id="fileSeq" resultType="int">
	 select nvl(max(file_seq), 0)+1 
	 from file_study_table
	</select>
	
	<!-- 글 등록하기 -->
	<insert id = "insert" parameterType="map">
		insert into board_study
		(
			seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,view_cnt
			,useyn
		)values(
			#{seq}
			,#{name}
			,#{id}
			,#{subject}
			,#{content}
			,sysdate
			,0
			,'y'
		)
	</insert>
	
	<!-- 이미지 등록 -->
	<insert id="fileinsert" parameterType="map">
	   insert into file_study_table
	   (
	       file_seq
	       ,real_name
	       ,save_name
	       ,save_path
	       ,reg_date
	       ,list_seq
	   )values( 
	       #{fileSeq}
	       ,#{realName}
	       ,#{saveName}
	       ,#{SAVE_PATH}
	       ,sysdate
	       ,#{listSeq} 
	   )
	</insert>
	
	
	
	<!-- 글 상세보기 -->
	<select id="detail" resultMap="rsMap" parameterType="int">
		select
			seq 
			, mem_name
			, mem_id
			, board_subject
			, board_content
			, reg_date
			, upt_date
			,view_cnt
			, useyn
		from board_study
		where seq = #{seq}
	</select>
	
	<!-- 글 수정하기 -->
	<update id="update" parameterType="com.com.board.BoardDto">
		UPDATE 
			board_study
	   	SET
	   		MEM_NAME = #{name},
	   		MEM_ID = #{id},
	        BOARD_SUBJECT = #{subject},
	        BOARD_CONTENT = #{content},
	        UPT_DATE = sysdate
	    WHERE SEQ = #{seq}
	</update>
	
	<!-- 글 삭제하기 -->
	<delete id="delete" parameterType="int">
		delete from board_study
		where seq in (
			<foreach collection="array" separator="," item="aa">
				#{aa}
			</foreach>
		)
	</delete>
</mapper>